@import "/arquivos/description.css";
.logoLink {
  display: flex;
}
.logoLink .logoContainer {
  padding: 0;
  display: flex;
  align-items: center;
  max-height: 100px;
}
@media (max-width: 1024px) {
  .logoLink .logoContainer {
    max-height: 100px;
  }
}
.logoLink .logoContainer.sizeDesktop {
  max-width: 274px;
  max-height: initial;
}
.searchBarContainer {
  padding: 0;
  max-width: initial;
}
@media (min-width: 1024px) {
  .searchBarContainer {
    width: 700px;
  }
}
.searchBarContainer .searchBarInnerContainer {
  border: 0;
  width: 100%;
}
.searchBarContainer
  .searchBarInnerContainer
  :global(.vtex-search-2-x-biggy-autocomplete) {
  background-color: #eee;
}
.searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer {
  background-color: #f4f4f4;
  border: 0;
  width: 100%;
}
@media (min-width: 1024px) {
  .searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer {
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 6px;
    max-width: 650px;
    float: right;
  }
}
.searchBarContainer
  .searchBarInnerContainer
  .autoCompleteOuterContainer
  :global(.vtex-input-prefix__group) {
  height: 48px;
  margin-top: 1px;
}
@media (max-width: 1024px) {
  .searchBarContainer
    .searchBarInnerContainer
    .autoCompleteOuterContainer
    :global(.vtex-input-prefix__group) {
    height: 45px;
  }
}
@media (min-width: 1024px) {
  .searchBarContainer
    .searchBarInnerContainer
    .autoCompleteOuterContainer
    :global(.vtex-input-prefix__group)
    :global(.vtex-styleguide-9-x-input),
  .searchBarContainer
    .searchBarInnerContainer
    .autoCompleteOuterContainer
    :global(.vtex-input-prefix__group)
    :global(.vtex-input__suffix) {
    background: #fff;
  }
}
.searchBarContainer :global(.vtex-input-prefix__group) {
  border: 0;
}
.searchBarContainer :global(.vtex-input__suffix) {
  padding: 0;
}
.searchBarContainer :global(.vtex-input__suffix) .searchBarIcon {
  padding: 0 15px;
}
.searchBarContainer :global(.vtex-input__suffix) .searchBarIcon .searchIcon {
  display: none;
}
.searchBarContainer :global(.vtex-input__suffix) .searchBarIcon::after {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  background-image: url("assets/icon-search.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
:global(.vtex-search-2-x-biggy-autocomplete-wrapper) {
  width: 650px;
}
.imageElement--img-security,
.imageElement--img-sponsor {
  margin-right: 15px;
  height: fit-content;
}
.imageElementLink--img-sponsor {
  display: flex;
  align-items: center;
}
.sizeMobile {
  max-width: initial;
}
@media (max-width: 1024px) {
  .sizeMobile {
    margin-left: 10px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 0;
  }
}
:global(.vtex-flex-layout-0-x-flexRowContent--mobile-footer-row) .logoLink {
  justify-content: center;
}
.productImagesThumb {
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .productImagesThumb {
    border: none;
  }
}
.productBrand {
  font-weight: 500;
  font-size: 26px;
  line-height: 35px;
}
@media (max-width: 1024px) {
  .productBrand {
    font-size: 22px;
  }
}
.shippingContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  position: relative;
  padding-top: 50px;
  padding-bottom: 0;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .shippingContainer {
    margin-bottom: 45px;
  }
}
.shippingContainer :global(.vtex-address-form__postalCode) {
  padding-bottom: 30px;
}
.shippingContainer
  :global(.vtex-address-form__postalCode)
  :global(.vtex-input)
  :global(.vtex-input-prefix__group) {
  width: 280px;
  height: 50px;
  border-width: 1px;
  border-color: #e3e3e3;
  border-radius: 6px;
}
.shippingContainer
  :global(.vtex-address-form__postalCode)
  :global(.vtex-input)
  :global(.vtex-input__label) {
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 0;
  font-weight: 600;
  color: #333;
}
.shippingContainer
  :global(.vtex-address-form__postalCode)
  :global(.vtex-input)
  :global(.vtex-input__label)::before {
  content: "CALCULAR FRETE";
  font-size: 15px;
}
.shippingContainer
  :global(.vtex-address-form__postalCode)
  :global(.vtex-address-form__postalCode-forgottenURL) {
  position: absolute;
  left: 0;
  bottom: 0;
}
.shippingContainer
  :global(.vtex-address-form__postalCode)
  :global(.vtex-address-form__postalCode-forgottenURL)
  :global(.vtex__icon-external-link) {
  display: none;
}
.shippingContainer :global(.vtex-button) {
  width: 80px;
  height: 50px;
  background: #00001c;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 6px;
}
.shippingContainer :global(.vtex-button) :global(.vtex-button__label) {
  font-size: 0;
}
.shippingContainer :global(.vtex-button) :global(.vtex-button__label)::before {
  content: "";
  display: block;
  width: 20px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.504' height='15.504' viewBox='0 0 15.504 15.504'%3E%3Cpath id='path' d='M11.752,4,10.4,5.357l5.426,5.426H4v1.938H15.821L10.4,18.147,11.752,19.5,19.5,11.752Z' transform='translate(-4 -4)' fill='gray' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(100);
}
.shareContainer {
  margin-top: 15px;
}
.shareContainer .shareLabel {
  font-size: 14px;
  font-weight: 600;
  color: #3a3f45;
}
.skuSelectorInternalBox {
  border: 0;
}
.skuSelectorTextContainer {
  margin: 5px 0 2px;
}
.skuSelectorContainer {
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}
.skuSelectorContainer .skuSelectorName {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.skuSelectorContainer .skuSelectorOptionsList {
  margin-left: 0;
}
@media (max-width: 1024px) {
  .productImagesGallerySwiperContainer .swiperCaretNext,
  .productImagesGallerySwiperContainer .swiperCaretPrev {
    display: none;
  }
}
.imageElement--img-deal {
  height: 30px;
  width: 30px;
  margin: auto;
}
.imageElementLink--main-banner,
.imageElementLink--grid-content-banners {
  transition: opacity 0.13s linear;
}
.imageElementLink--main-banner:hover,
.imageElementLink--grid-content-banners:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.imageElement--img-tab-layout {
  border-radius: 6px;
}
:global(.vtex-flex-layout-0-x-flexColChild--col-footer) .logoImage {
  margin-bottom: 20px;
}
@media screen and (max-width: 1024px) {
  :global(.vtex-flex-layout-0-x-flexRow--main-header-mobile) .logoImage {
    width: 114px;
  }
}
:global(.vtex-dropdown__button) {
  padding-left: 10px;
}
.imageElementLink--subcategories {
  display: block;
}
.imageElementLink--subcategories .imageElement {
  transition: all 0.13s linear;
  border-radius: 6px;
}
.imageElementLink--subcategories .imageElement:hover {
  transform: scale(0.98);
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
}
:global(.vtex-flex-layout-0-x-flexRowContent--row-buyButton)
  :global(.vtex-button) {
  background-color: #036da6;
  border: none;
  height: 70px;
  border-radius: 6px;
}
@media (max-width: 900px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--row-buyButton)
    :global(.vtex-button) {
    margin-top: 10px;
  }
}
:global(.vtex-flex-layout-0-x-flexRowContent--row-buyButton)
  :global(.vtex-button)
  :global(.vtex-button__label) {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: 25px;
  font-weight: 500;
}
:global(.vtex-flex-layout-0-x-flexRowContent--row-buyButton)
  :global(.vtex-button)
  :global(.vtex-button__label)::before {
  content: "";
  display: block;
  width: 20px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.287' height='23.902' viewBox='0 0 19.287 23.902'%3E%3Cpath id='ic_lock_24px' d='M20.876,8.967H19.671V6.691A5.868,5.868,0,0,0,13.644,1,5.868,5.868,0,0,0,7.616,6.691V8.967H6.411A2.353,2.353,0,0,0,4,11.244V22.625A2.353,2.353,0,0,0,6.411,24.9H20.876a2.353,2.353,0,0,0,2.411-2.276V11.244A2.353,2.353,0,0,0,20.876,8.967ZM13.644,19.211a2.28,2.28,0,1,1,2.411-2.276A2.353,2.353,0,0,1,13.644,19.211ZM17.38,8.967H9.907V6.691a3.64,3.64,0,0,1,3.737-3.528A3.64,3.64,0,0,1,17.38,6.691Z' transform='translate(-4 -1)' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}
:global(.vtex-flex-layout-0-x-flexRowContent--row-buyButton)
  :global(.vtex-button):hover {
  background-color: #048ed8;
}
.frameAround {
  display: none !important;
}
.skuSelectorItem {
  min-width: 65px;
}
.skuSelectorItem.skuSelectorItem--selected {
  background-color: #2b2828;
  border-radius: 6px;
}
.skuSelectorItem.skuSelectorItem--selected .valueWrapper {
  color: #fff;
  font-size: 14px;
}
.productDescriptionContainer {
  padding-top: 25px;
}
.productDescriptionContainer .productDescriptionText {
  line-height: 28px;
}
@media (max-width: 1024px) {
  .productNameContainer {
    margin-top: 20px;
  }
}
.shareButtons {
  margin-top: 15px;
  column-gap: 10px;
}
.shareButtons .shareSocialButton {
  filter: brightness(0.4);
}
.shareButtons .shareSocialButton .shareSocialIcon {
  display: none;
}
.shareButtons .shareSocialButton:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.shareButtons .shareSocialButton::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 28px;
  height: 28px;
  transition: all 0.12s linear;
}
.shareButtons .shareSocialButton.shareSocialButton--whatsapp::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28.845' height='28.941' viewBox='0 0 28.845 28.941'%3E%3Cg id='icon_whatsapp' transform='translate(0.62 0.501)'%3E%3Cpath id='layer2' d='M15.162,2.01A13.86,13.86,0,0,0,3.492,22.141L2.021,29.28a.539.539,0,0,0,.652.634l7-1.658A13.856,13.856,0,1,0,15.162,2.01ZM23.51,23.52' transform='translate(-1.984 -1.993)' fill='none' stroke='%23909090' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='layer1' d='M30.453,27.091l-2.684-.771a1,1,0,0,0-.99.261l-.656.669a.978.978,0,0,1-1.063.224A14.285,14.285,0,0,1,20.438,23.4a.978.978,0,0,1,.077-1.084l.573-.741a1,1,0,0,0,.123-1.016L20.083,18a1,1,0,0,0-1.563-.358,4.513,4.513,0,0,0-1.745,2.663c-.19,1.881.616,4.251,3.665,7.1,3.523,3.288,6.344,3.725,8.181,3.278a4.511,4.511,0,0,0,2.4-2.092,1,1,0,0,0-.567-1.5Z' transform='translate(-9.874 -10.231)' fill='none' stroke='%23909090' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.shareButtons .shareSocialButton.shareSocialButton--whatsapp:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28.845' height='28.941' viewBox='0 0 28.845 28.941'%3E%3Cg id='icon_whatsapp' transform='translate(0.62 0.501)'%3E%3Cpath id='layer2' d='M15.162,2.01A13.86,13.86,0,0,0,3.492,22.141L2.021,29.28a.539.539,0,0,0,.652.634l7-1.658A13.856,13.856,0,1,0,15.162,2.01ZM23.51,23.52' transform='translate(-1.984 -1.993)' fill='none' stroke='%2334af23' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='layer1' d='M30.453,27.091l-2.684-.771a1,1,0,0,0-.99.261l-.656.669a.978.978,0,0,1-1.063.224A14.285,14.285,0,0,1,20.438,23.4a.978.978,0,0,1,.077-1.084l.573-.741a1,1,0,0,0,.123-1.016L20.083,18a1,1,0,0,0-1.563-.358,4.513,4.513,0,0,0-1.745,2.663c-.19,1.881.616,4.251,3.665,7.1,3.523,3.288,6.344,3.725,8.181,3.278a4.511,4.511,0,0,0,2.4-2.092,1,1,0,0,0-.567-1.5Z' transform='translate(-9.874 -10.231)' fill='none' stroke='%2334af23' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
  filter: drop-shadow(0 0 1px #34af23);
}
.shareButtons .shareSocialButton.shareSocialButton--facebook::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28.935' height='28.935' viewBox='0 0 28.935 28.935'%3E%3Cpath id='layer1' d='M27.316,2H4.619A2.627,2.627,0,0,0,2,4.619v22.7a2.627,2.627,0,0,0,2.619,2.619H16.841V18.587H13.785V14.222h3.056V12.04c.071-2.447.7-4.624,4.853-4.8h3.44v4.327H22.226a1.375,1.375,0,0,0-1.457,1.348v1.309h4.365l-.745,4.365h-3.62V29.935h6.548a2.627,2.627,0,0,0,2.619-2.619V4.619A2.627,2.627,0,0,0,27.316,2Z' transform='translate(-1.5 -1.5)' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1'/%3E%3C/svg%3E%0A");
}
.shareButtons .shareSocialButton.shareSocialButton--facebook:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28.935' height='28.935' viewBox='0 0 28.935 28.935'%3E%3Cpath id='layer1' d='M27.316,2H4.619A2.627,2.627,0,0,0,2,4.619v22.7a2.627,2.627,0,0,0,2.619,2.619H16.841V18.587H13.785V14.222h3.056V12.04c.071-2.447.7-4.624,4.853-4.8h3.44v4.327H22.226a1.375,1.375,0,0,0-1.457,1.348v1.309h4.365l-.745,4.365h-3.62V29.935h6.548a2.627,2.627,0,0,0,2.619-2.619V4.619A2.627,2.627,0,0,0,27.316,2Z' transform='translate(-1.5 -1.5)' fill='none' stroke='%233b5998' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1'/%3E%3C/svg%3E%0A");
  filter: drop-shadow(0 0 1px #3b5998);
}
.imageElement--main-banner {
  height: 100%;
}
:global(.vtex-flex-layout-0-x-flexRow--main-banners) .container {
  padding: 0;
  max-width: none;
}
.imageElement--grid-content-banners {
  height: 100%;
}
:global(.vtex-flex-layout-0-x-flexRow--mega-menu) {
  background-color: #036da6;
}
:global(.vtex-flex-layout-0-x-flexRow--mega-menu)
  :global(.vtex-store-components-3-x-container) {
  max-width: 1272px;
}
