.vtex-flex-layout-0-x-flexRow--mosaico-row {
    .vtex-flex-layout-0-x-stretchChildrenWidth {
        margin-bottom: 10px;
    }
    .vtex-flex-layout-0-x-flexColChild--mosaico31.pb0 {
        width: 100%;
        @include for-desktop {
            width: 100%;
        }
    }
    .vtex-flex-layout-0-x-flexRowContent--mosaico-row.mb6 {
        @include for-desktop {
            margin-bottom: 16px;
        }
    }
    .vtex-flex-layout-0-x-flexCol--col-mosaico2.flex{
        width: 100%; 
        @include for-desktop {
            width: 100%;
            padding-left: 15px;
        }
        .vtex-flex-layout-0-x-flexColChild--col-mosaico2:nth-child(2) {
            .vtex-flex-layout-0-x-flexRowContent {
                @include flexbox(flex, row, wrap, space-between, center, center);
            }
            .vtex-flex-layout-0-x-stretchChildrenWidth {
                width: calc(50% - 5px) !important;
                @include for-desktop {
                    width: calc(50% - 15px) !important;
                }
            }
        }
    }
}