.vtex-flex-layout-0-x-flexRow--bnr-bf {
    background-color: #FAFAFA;
    padding: 20px 0;
    margin-bottom: 30px;
    .vtex-rich-text-0-x-heading {
        text-align: center;
    }
    .vtex-rich-text-0-x-container--titleSection {
        border-bottom: 0;
    }
    .vtex-store-components-3-x-imageElementLink {
        margin-bottom: 15px;
        display: block;
    }
    h2 {
        color: $color-primary;
        font-size: 16px;
    }
    p {
        color: #484848;
        max-width: 350px;
    }
}
.vtex-flex-layout-0-x-flexRow--row-vitrine {
   @include for-mobile {
    padding: 0 20px;
   }
}
.vtex-product-summary-2-x-container {
    .vtex-product-highlights-2-x-productHighlightText {
        background-color: #03a639;
        color: #fff;
        font-weight: bold;
        box-shadow: 0px 3px 6px #00000029;
        font-size: 13px;
    }
    .vtex-product-highlights-2-x-productHighlightWrapper--collection {
        top: 30px;
        left: 0;
        .vtex-product-highlights-2-x-productHighlightText {
            background-color: #036DA6; 
        }
    }
}
//autocomplete
.vtex-search-2-x-biggy-autocomplete-wrapper {
    .vtex-product-summary-2-x-container .vtex-product-highlights-2-x-productHighlightText {
        font-size: 8px;
    }
}