:global(.vtex-flex-layout-0-x-flexRowContent--row-buyButton){
  .buttonText{
    font-size: 25px;
    line-height: 25px;
    font-weight: 500;
    @media(max-width: 1024px){
      font-size: 18px!important;
    }
  }
}


:global(.vtex-product-summary-2-x-element){
  .buttonText{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #fff;
    @media(max-width: 1024px){
      font-size: 13px!important;
    }
  }
}
