@import './variables.scss';

.sliderLayoutContainer--shelf{
  .sliderTrack--shelf{
    padding: 10px 0;
    column-gap: 10px;
  }
}


.sliderLayoutContainer{
  @media(max-width: 980px){

  }
}

.sliderLayoutContainer--deals{
  @media(min-width: 650px){
    padding: 0!important;
    margin: 0!important;
  }
}

.sliderLayoutContainer--categories,
.sliderLayoutContainer--collections{
  .sliderTrack{
    column-gap: 10px;
    row-gap: 10px;
    justify-content: space-between;
    .imageElement{
      transition: all .13s linear;
      border-radius: $radius;
      &:hover{
        transform: scale(0.98);
        box-shadow: 3px 3px 1px rgba(0,0,0,.2);
      }
    }
  }
}

.paginationDotsContainer{
  align-items: center;
  bottom: 10px;

  .paginationDot{
    transition: all .12s linear;
    width: 13px!important;
    height: 13px!important;

    &.paginationDot--isActive{
      width: 15px!important;
      height: 15px!important;
      background-color: $primaryColor;
      border: 1px solid $primaryColor;
    }
  }
}

.sliderTrackContainer--brands{
  .imageElementLink--brands{
    align-items: center;
    display: flex;
    transition: all .3s;

    &:hover{
      border-color: $secondaryColor;
    }
  }
}

.sliderLeftArrow,
.sliderRightArrow{
  .caretIcon{
    display: none;
  }
  &::after{
    content: "";
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
  }
}

.sliderLeftArrow{
  &::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.504' height='15.504' viewBox='0 0 15.504 15.504'%3E%3Cpath id='path' d='M7.752,0,6.4,1.357l5.426,5.426H0V8.721H11.821L6.4,14.147,7.752,15.5,15.5,7.752Z' transform='translate(15.504 15.504) rotate(180)' fill='gray' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
  }
  &:hover{
    &::after{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.504' height='15.504' viewBox='0 0 15.504 15.504'%3E%3Cpath id='path' d='M7.752,0,6.4,1.357l5.426,5.426H0V8.721H11.821L6.4,14.147,7.752,15.5,15.5,7.752Z' transform='translate(15.504 15.504) rotate(180)' fill='%23e3022c' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
    }
  }
}

.sliderRightArrow{
  &::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.504' height='15.504' viewBox='0 0 15.504 15.504'%3E%3Cpath id='path' d='M11.752,4,10.4,5.357l5.426,5.426H4v1.938H15.821L10.4,18.147,11.752,19.5,19.5,11.752Z' transform='translate(-4 -4)' fill='gray' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
  }
  &:hover{
    &::after{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.504' height='15.504' viewBox='0 0 15.504 15.504'%3E%3Cpath id='path' d='M11.752,4,10.4,5.357l5.426,5.426H4v1.938H15.821L10.4,18.147,11.752,19.5,19.5,11.752Z' transform='translate(-4 -4)' fill='%23e3022c' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
    }
  }
}

.sliderTrack--subcategories{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 5px;
  row-gap: 1px;
  @media(max-width:1024px){
    grid-template-columns: repeat(4, 1fr);
  }
  @media(max-width:650px){
    grid-template-columns: repeat(3, 1fr);
  }
  .slide{
    width: 100%!important;
  }
}
