@import './variables.scss';
.containerNormal{
  position: relative;
  margin: 0 8px;
  transition: all .15s linear;
  @media(max-width:420px){
    margin: 0;
  }
  &:hover{
    box-shadow: 0 3px 8px rgba(0,0,0,.1);
    :global(.vtex-flex-layout-0-x-flexRow--row-summary-actions){
      opacity: 1!important;
      filter: alpha(opacity=100)!important;
    }
  }
  @media(max-width: 1024px){
    &:hover{
      box-shadow: none!important;
    }
  }
  .clearLink{
    padding: 0;
    align-items: center;
    .element{
      max-width: 277px;
      padding: 10px;
      @media(max-width: 1024px){
        padding: 0;
      }
      .image{
        border-radius: 5px;
      }
      .productBrand{
        font-weight: 400;
        font-size: 14px;
        color: $textPrimaryColor;
        display: block;
        @media(max-width: 1024px){
          font-size: 14px;
        }
      }
      :global(.vtex-flex-layout-0-x-flexRowContent--row-summary-actions){
        :global(.vtex-button){
          background-color: $tertiaryColor !important;
          border: 2px solid $tertiaryColor !important;
          border-radius: 6px;
          margin: 16px auto 0;

          &:hover{
            background-color: $buyButtonColor !important;
            border-color: $buyButtonColor !important;
            :global(.vtex-button__label){
              color: white;
            }
          }
          @media(max-width: 1024px){
            margin-top: 0;
          }
          :global(.vtex-button__label){
            height: 45px;
            padding: 0 !important;
            color: #aaa;
            @media(max-width: 1024px){
              height: 32px;
            }
          }
        }
      }
      :global(.vtex-flex-layout-0-x-flexRow--row-summary-actions){
        @media(min-width: 1024px){
          opacity: 0;
          filter: alpha(opacity=0);
          transition: all .12s linear;
        }
      }
    }
  }
}
