@import './variables';

.listContainer--list-tabs-home{
  justify-content: flex-start;
  overflow: auto;
  flex-wrap: nowrap;

  .listItem{
    padding-top: 0;
    margin-top: 0;

    :global(.vtex-button){
      border: 0;
      border-radius: 0;
      height: 40px;
      border-bottom: 3px solid transparent;

      :global(.vtex-button__label){
        color: #777;
        font-weight: 500;
      }
    }
    @media(max-width: 1024px){
      margin: 0;
    }
    &.listItemActive{
      :global(.vtex-button){
        background: transparent;
        border-color: $secondaryColor;
        :global(.vtex-button__label){
          color: $secondaryColor;
        }
      }
    }
  }
  @media(max-width: 1024px){
    .listItem--item-hide-mobile{
      display: none!important;
    }
    :global(.vtex-button__label){
      padding: 0 10px;
      color: $primaryColor;
      font-size: 13px;
      line-height: 16px;
    }
  }
}
